html,
body {
  height: 100%
}

#header {
  height: 80px;
  width: 100%;
}

#__next {
  height: 100%;
}

#holder {
  min-height: 100%;
  position: relative;
}

#body {
  padding-bottom: 56px;
}

#footer {
  bottom: 0;
  height: 56px;
  left: 0;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 600px) {
  #body {
    padding-bottom: 30px;
  }

  #footer {
    height: 30px;
  }
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
}

.MuiCardActions-root {
  margin-top: auto;
}